{% extends "base_membership.html" %}

{% block title %}Top&nbsp;|&nbsp;{% endblock %}

{% block content_membership %}
<div id="description" class="row-fluid section">
  <h4>
    このHPでは、生徒がプログラミング力を向上させる教室以外の場として、プログラミングに関する情報の提供・交流を行います。また、保護者様が教室の状況をご理解いただくための場でもあります。
  </h4>
</div>

<div id="news" class="row-fluid section">
  <div class="panel panel-default" style="margin-bottom: 5px;">
    <div class="panel-heading">新着ニュース</div>
    <div class="list-group panel-body">
      <a class="list-group-item" href="#" class="disable">
        2016年6月19日&nbsp;子供のためのプログラミング教室&nbsp;第7回を実施しました。
      </a>
      <a class="list-group-item" href="#" class="disable">
        2016年6月12日&nbsp;子供のためのプログラミング教室&nbsp;第6回を実施しました。
      </a>
      <a class="list-group-item" href="#" class="disable">
        2016年6月5日&nbsp;子供のためのプログラミング教室&nbsp;第5回を実施しました。
      </a>
      <a class="list-group-item" href="#" class="disable">
        2016年5月29日&nbsp;子供のためのプログラミング教室&nbsp;第4回を実施しました。
      </a>
      <a class="list-group-item" href="#" class="disable">
        2016年5月22日&nbsp;子供のためのプログラミング教室&nbsp;第3回を実施しました。
      </a>
    </div>
    {% comment %}
    <nav class="panel-footer" style="text-align: center;">
      <ul class="pagination" style="margin-top: 2px; margin-bottom: 2px;">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    {% endcomment %}
  </div>
</div>
{% endblock content_membership %}

