{% extends "base_membership.html" %}
{% load staticfiles %}

{% block title %}講師紹介&nbsp;|&nbsp;{% endblock %}

{% block content_membership %}
<div id="description" class="row-fluid section">
  <h3>講師紹介</h3>
  <span>
    ここには説明文を入れる。<br>
    今は仮の文章。<br>
  </span>
</div>

<div id="news" class="row-fluid section">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'img/shadow.png' %}" class="img-rounded">
      <div class="caption">
        <h3講師名前1<br class="visible-sm"><small>（ふりがな）</small></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            自己紹介
          </h4>
          <p class="list-group-item-text">
            簡単な紹介を書く
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            みんなへ
          </h4>
          <p class="list-group-item-text">
            ああああてすとてすと
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'img/shadow.png' %}" class="img-rounded">
      <div class="caption">
        <h3講師名前2<br class="visible-sm"><small>（ふりがな）</small></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            自己紹介
          </h4>
          <p class="list-group-item-text">
            簡単な紹介を書く
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            みんなへ
          </h4>
          <p class="list-group-item-text">
            ああああてすとてすと
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'img/shadow.png' %}" class="img-rounded">
      <div class="caption">
        <h3講師名前3<br class="visible-sm"><small>（ふりがな）</small></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            自己紹介
          </h4>
          <p class="list-group-item-text">
            簡単な紹介を書く
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            みんなへ
          </h4>
          <p class="list-group-item-text">
            ああああてすとてすと
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'img/shadow.png' %}" class="img-rounded">
      <div class="caption">
        <h3講師名前4<br class="visible-sm"><small>（ふりがな）</small></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            自己紹介
          </h4>
          <p class="list-group-item-text">
            簡単な紹介を書く
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            みんなへ
          </h4>
          <p class="list-group-item-text">
            ああああてすとてすと
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="thumbnail">
      <img src="{% static 'img/shadow.png' %}" class="img-rounded">
      <div class="caption">
        <h3講師名前5<br class="visible-sm"><small>（ふりがな）</small></h3>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            自己紹介
          </h4>
          <p class="list-group-item-text">
            簡単な紹介を書く
          </p>
        </li>
        <li class="list-group-item">
          <h4 class="list-group-item-heading">
            みんなへ
          </h4>
          <p class="list-group-item-text">
            ああああてすとてすと
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock content_membership %}

