{% extends "base.html" %}

{% block title %}パスワードの変更&nbsp;|&nbsp;{% endblock %}

{% block content %}
<div id="content" class="row-fluid">
  <div id="description" class="row-fluid section">
    <h3>パスワードの変更</h3>
  </div>
  <form method="post" action=""
    class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
    {% for field in form %}
      <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="control-label">
          {{ field.label }}
        </label>
        <input id="{{ field.id_for_label }}" name="{{ field.html_name }}"
          type="password" class="form-control">
        <span class="help-block">
          {% for error in field.errors %}
            <strong>{{ error }}</strong><br>
          {% endfor %}
          {{ field.help_text|safe }}
        </span>
      </div>
    {% endfor %}
    {% csrf_token %}
    <input type="submit" class="btn btn-warning" value="変更">
  </form>
</div>
{% endblock content %}
