#header-body > div > a > img,
#header-body > div > a > span {
  vertical-align: middle;
  display: inline-block;
}
#header-body > div > a {
  text-decoration: none;
}

#user-info,
#user-info * {
  display: inline-block;
  text-align: right;
}

#nav-toggle {
  margin: 1px 10px;
}
.nav > .app-nav-pills-right {
  display: inline-block;
  float: none;
}

.row, .row-fluid {
  margin-top: 2px;
}
.section {
  padding-top: 2px;
  padding-bottom: 20px;
}

.thumbnail {
  padding: 20px;
  padding-bottom: 0px;
}
.thumbnail > .list-group {
  margin-bottom: 2px;
}
.thumbnail > .list-group > li {
  height: 8em;
  border-width: 1px 0px;
  border-radius: 0px;
}
.thumbnail > .list-group > li:last-child {
  border-bottom-width: 0px;
}

#document-list .list-group-item-text > span {
  float: right;
}

#footer {
  height: 36px;
  color: #FFF;
  background-color: #3880bc;
  border: 1px solid;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 6px;
}
