{% extends 'base.html' %}

{% block title %}
{{ thread.title }}
{% endblock %}

{% block content %}
<h1>{{ thread.title }}</h1>
<p>
  {{ thread.message }}<br />
  ({{ thread.pub_date|date:"Y年m月d日h時i分s秒" }})
</p>
<hr />
<ul>
{% for comment in comment_list %}
  <li>
    {{ comment.message }}<br />
    ({{ comment.pub_date|date:"Y年m月d日h時i分s秒" }})
  </li>
{% endfor %}
</ul>
<hr />
<form action="./" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="コメントを投稿する" />
</form>
<p><a href="/">トップページに戻る</a></p>
{% endblock %}
